---
export const prerender = false;
import AdminLayout from '../../layouts/AdminLayout.astro';
import App from '../../components/editor/App.jsx';
---

<AdminLayout title="Article Editor">
  <div class="max-w-[1600px] mx-auto">
    <App client:only="react" />
  </div>
</AdminLayout>